.featured_div{
    flex-grow: 0.65;
    display:flex;
    margin:16px;
    padding:8px;
    border: 2px solid black;
}

.rightContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 25%;
}

.leftContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 25%;
}