.header{
    display:flex;
    justify-content: space-around;
    padding: 8px;
    margin:16px;
}

.header_title{
    padding:8px;
    color:black;
    text-align: center;
}

.date{
    margin:0;
    padding:8px;
    color:black;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid black;
}
